//
//  ğ—š ğ—¥ ğ—œ ğ——
//  â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”


body {
  margin-bottom: 70px;
  padding-top: calc(#{$navbar-height} + 3%);

  @media (max-width: 543px) {
    margin-bottom: 0;
    padding-top: 50px;
  }
}

.container {
  max-width: $container-width;
  margin: 0 auto; 
}