//
//  ğ—£ ğ—¢ ğ—¦ ğ—§  ğ—§ ğ—¬ ğ—£ ğ—˜
//  â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”


// Post
//=============================================================

.post {
  margin: 0 auto 3em;
  padding-top: 10%;
  width: 90%;
  font-size: $post-font-size-base;
  line-height: 1.75;

  .post-date {
    @include date-style(8px, 20px, 16px);
  }
  .post-title {
    @include post-title(46px, 30px);
  }
}

.post-content {
  margin-top: 60px;
  color: $text-color;

  @media (max-width: 543px) {
    margin-top: 30px;
  }

  img {
    &.img-small {
      width: auto;
      height: auto;
      display:inline;
      margin-bottom: 0;
      padding: 0 4px;
      vertical-align: top;
    }
  }

  a {
    color: $link-text-color;
    background-image: linear-gradient(to bottom, transparent 49.9%, $link-color 50%);
    background-repeat: repeat-x;
    background-size: 2px 10%;
    background-position: 0 bottom;

    &:hover {
      color: $link-active-color;
      background-image: linear-gradient(to bottom, transparent 49.9%, $link-active-color 50%);
    }
  }

  h4, h6 { color: $text-gray-color; }

  h1, h2, h3, h4, h5, h6 {
    a:not(.footnote) {
      color: $text-color;
      border-bottom: 3px solid $link-color;

      &:hover {
        color: $link-color;
      }
    }
  }

  .img-text {
    margin-bottom: 0;
    height: auto;
    display: inline;
    padding: 0 3px;
    vertical-align:top;
  }
}

a.footnote {
  margin: 0 0.3em;
  padding: 0.05em 0.4em 0.1em;
  font-size: 0.9em;
  color: $text-gray-color;
  font-weight: 500;
  line-height: 1em;
  border: 1.5px solid $border-color;
  border-radius: 3px;
  background-image: none;
  transition: background-color .2s ease,
              color .2s ease,
              border-color .2s ease;

  &:hover,
  &:focus,
  &:active {
    color: $oc-white;
    background-color: $link-color;
    background-image: none;
    border-color: $link-color;
  }
}

.footnotes {
  margin: 12vw auto 0;
  padding-top: 1vw;
  border-top: 0.5px solid $border-color;
}

.center {
  text-align: center;
  
  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.post p {
  font-size: $post-font-size-base;
}

.post,
.post p {
  @media (max-width: 543px) {
    font-size: 18px;
    line-height: 1.5;
  }
}


// Facebook comments
//=============================================================

.fb-root {
  display: none;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  margin-top: 40px;
  min-width: 100% !important;
  width: 1vw !important;
}
