//
//  ğ—£ ğ—¢ ğ—¦ ğ—§  ğ—§ ğ—¬ ğ—£ ğ—˜
//  â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”


// Post
//=============================================================

.post {
  margin: 0 auto 3em;
  padding-top: 10%;
  width: 90%;
  font-size: $post-font-size-base;
  line-height: 1.65em;

  .post-date {
    @include date-style(3px, 20px, 16px);
  }
  .post-title {
    @include post-title(48px, 30px);
  }
}

.post-content {
  margin-top: 60px;
  color: $text-color;

  @media (max-width: 543px) {
    margin-top: 30px;
  }

  img {
    &.img-small {
      width: auto;
      height: auto;
      display:inline;
      margin-bottom: 0;
      padding: 0 4px;
      vertical-align:top;
    }
  }

  a {
    color: $link-text-color;
    background-image: linear-gradient(to bottom,$link-color 50%,rgba(0,0,0,0) 50%);
    background-repeat: repeat-x;
    background-size: 2px 0.18em;
    background-position: 0 1.09em;

    &:hover {
      color: $link-active-color;
      background-image: linear-gradient(to bottom,$link-active-color 50%,rgba(0,0,0,0) 50%);
    }
  }
  h4, h6 { color: $text-gray-color; }

  h1, h2, h3, h4, h5, h6 {
    a:not(.footnote) {
      color: $text-color;
      border-bottom: 3px solid $link-color;

      &:hover {
        color: $link-color;
      }
    }
  }

  .img-text {
    margin-bottom: 0;
    height: auto;
    display: inline;
    padding: 0 3px;
    vertical-align:top;
  }
}

a.footnote {
  margin: 0 3px;
  padding: 0.08em 0.4em 0.1em;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", San Francisco, Lato, Apple SD Gothic Neo, 'Spoqa Han Sans', Nanum Barun Gothic,  Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
  font-size: 0.9em;
  color: $link-text-color;
  font-weight: 700;
  line-height: 1;
  border: 1px solid $link-color;
  border-radius: 20px;
  background-color: rgba($link-color, 0.05);
  background-image: none;
  transition: background-color .2s ease,
              color .2s ease,
              border-color .2s ease;

  &:hover,
  &:focus,
  &:active {
    color: $oc-white;
    background-color: $link-color;
    background-image: none;
    border: 1px solid $link-color;
  }
}

.footnotes {
  margin: 12vw auto 0;
  padding-top: 1vw;
  border-top: 1px solid $hr-color;
}

.center {
  text-align: center;
  
  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.post p {
  font-size: $post-font-size-base;
}

.post,
.post p {
  @media (max-width: 543px) {
    font-size: 18px;
    line-height: 1.5;
  }
}


// Facebook comments
//=============================================================

.fb-root {
  display: none;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  margin-top: 40px;
  min-width: 100% !important;
  width: 100% !important;
}
