//
//  ğ—¦ ğ—¬ ğ—¡ ğ—§ ğ—” ğ—«
//  â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”

$white:      $oc-white;
$black:      $oc-black;
$synatax-01: $oc-blue-6;
$synatax-02: $oc-orange-6;
$synatax-03: $oc-teal-6;
$synatax-04: $oc-pink-6;
$synatax-05: $oc-orange-6;
$synatax-06: $oc-gray-6;
$synatax-07: $oc-gray-5;
$synatax-08: $oc-red-6;
$synatax-09: $oc-lime-6;

.highlight  { background: $white; }
.highlight .c { color: $synatax-07; } /* Comment */
.highlight .err { color: $synatax-01; } /* Error */
.highlight .k { color: $synatax-06; } /* Keyword */
.highlight .o { color: $synatax-06; } /* Operator */
.highlight .p { color: $synatax-06; } 
.highlight .cm { color: $synatax-07; } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: $synatax-07; } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: $black; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: $black; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: $black; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: $black; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: $synatax-03; } /* Keyword.Type */
.highlight .m { color: $synatax-05; } /* Literal.Number */
.highlight .s { color: $synatax-03; } /* Literal.String */
.highlight .na { color: $synatax-02; } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: $synatax-04; } /* Name.Class */
.highlight .no { color: $synatax-03; } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: $synatax-08; } /* Name.Exception */
.highlight .nf { color: $synatax-08; } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: $synatax-01; } /* Name.Tag */
.highlight .nv { color: $synatax-09; } /* Name.Variable */
.highlight .nx { color: $synatax-07; } 
.highlight .ow { color: $synatax-06; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: $synatax-05; } /* Literal.Number.Float */
.highlight .mh { color: $synatax-05; } /* Literal.Number.Hex */
.highlight .mi { color: $synatax-05; } /* Literal.Number.Integer */
.highlight .mo { color: $synatax-05; } /* Literal.Number.Oct */
.highlight .sb { color: $synatax-03; } /* Literal.String.Backtick */
.highlight .sc { color: $synatax-03; } /* Literal.String.Char */
.highlight .sd { color: $synatax-03; } /* Literal.String.Doc */
.highlight .s2 { color: $synatax-03; } /* Literal.String.Double */
.highlight .se { color: $synatax-03; } /* Literal.String.Escape */
.highlight .sh { color: $synatax-03; } /* Literal.String.Heredoc */
.highlight .si { color: $synatax-03; } /* Literal.String.Interpol */
.highlight .sx { color: $synatax-03; } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: $synatax-03; } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: $synatax-02; } /* Name.Variable.Class */
.highlight .vg { color: $synatax-02; } /* Name.Variable.Global */
.highlight .vi { color: $synatax-02; } /* Name.Variable.Instance */
.highlight .il { color: $synatax-05; } /* Literal.Number.Integer.Long */

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {
  -webkit-user-select: none;
  -moz-user-select: none; 
  -o-user-select: none;
} 

.lineno::-moz-selection { background-color: transparent; } /* Mozilla specific */
.lineno::selection { background-color: transparent; } /* Other major browsers */