//
//  ğ—© ğ—” ğ—¥ ğ—œ ğ—” ğ—• ğ—Ÿ ğ—˜ ğ—¦
//  â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”

$font-family-base:          'open-arrow', -apple-system, BlinkMacSystemFont, "Segoe UI", Apple SD Gothic Neo, Roboto, "Noto Sans KR", 'Spoqa Han Sans', Nanum Barun Gothic,  Nanum Gothic, "Helvetica Neue", Verdana, Arial, Dotum, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base:            16px;
$line-height-base:          1.65;
$heading-color:             $oc-gray-9;
$text-color:                $oc-gray-8;
$text-gray-color:           $oc-gray-7;
$text-light-gray-color:     $oc-gray-6;
$post-font-size-base:       20px;
$margin-bottom-base:        28px;
$hr-color:                  $oc-gray-3;
$blockquote-color:          $oc-gray-3;
$border-color:              $oc-gray-4;
$bg-color:                  $oc-gray-0;
$link-color:                $oc-blue-5;
$link-text-color:           $oc-blue-7;
$link-active-color:         $oc-blue-9;
$navbar-color:              $text-color;
$navbar-height:             70px;
$container-width:           700px;
$selection-bg:              $oc-gray-2;

// Lists
$li-line-height: 1.55;
$li-bottom-space: 0.7em;
$li-bullets-width: 1.7em;

$ol-bullets-font: inherit;
$ol-bullets-font-size: 1em;
$ol-bullets-font-line-height: inherit;
$ol-bullets-right-space: 0.65em;

$ul-bullets-font: inherit;
$ul-bullets-font-size: 1.2em;
$ul-bullets-font-line-height: 1.2;
$ul-bullets-right-space: 0.65em;

$li-child-size-ratio: 0.95;