//
//  ğ—© ğ—” ğ—¥ ğ—œ ğ—” ğ—• ğ—Ÿ ğ—˜ ğ—¦
//  â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”

$font-family-base:    -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, 'Spoqa Han Sans', Nanum Barun Gothic,  Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
$font-size-base:      16px;
$line-height-base:    1.65;
$heading-color:       $oc-gray-8;
$text-color:          $oc-gray-8;
$text-gray-color:     $oc-gray-6;
$post-font-size-base: 21px;
$margin-bottom-base:  28px;
$hr-color:            $oc-gray-3;
$blockquote-color:    $oc-gray-3;
$border-color:        $oc-gray-4;
$bg-color:            $oc-gray-0;
$link-color:          $oc-blue-5;
$navbar-color:        $text-color;
$navbar-height:       70px;
$container-width:     740px;
$selection-bg:        $oc-gray-2;