//
//  ğ—© ğ—” ğ—¥ ğ—œ ğ—” ğ—• ğ—Ÿ ğ—˜ ğ—¦
//  â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”

$font-family-base: system, -apple-system, ".SFNSDisplay-Regular", San Francisco, Lato, Apple SD Gothic Neo, 'Spoqa Han Sans', Nanum Barun Gothic,  Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.65;
$heading-color: #333;
$text-grey-color: #777;
$post-font-size-base: 21px;
$margin-bottom-base: 28px;
$hr-color: #eee;
$link-color: #0088ff;
$navbar-height: 70px;
$container-width: 740px;
$text-color: #555;
$selection-bg: $grey-2;