<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Heeyeun</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-container">
        <a href="/" class="blog-title">
          Heeyeun
        </a>
        <div class="navbar-menus">
          {% comment %}
          <a href="/about.html" class="{% if page.url == '/about.html' %}
              active
              {% endif %} navbar-menu menu-about">
            About
          </a>
          {% endcomment %}
          <a href="/" class="{% if page.url != '/about.html' %}
              active
              {% endif %} navbar-menu menu-blog">
            Blog
          </a>
          <a href="https://dribbble.com/heeyeun" target="_blank" class="navbar-menu menu-dribbble">
            Dribbble
          </a>
        </div>
      </div>
    </nav>
    {{ content }}
  </body>
</html>
