<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>heeyeun{% if page.title %} | {{ page.title }}{% endif %}</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://yeun.github.io/images/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://yeun.github.io/images/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://yeun.github.io/images/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://yeun.github.io/images/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://yeun.github.io/images/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://yeun.github.io/images/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="https://yeun.github.io/images/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://yeun.github.io/images/favicons/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="https://yeun.github.io/images/favicons/mstile-144x144.png" />
    <meta name="description" content="" />
    <meta name="application-name" content="Heeyeun's blog"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="twitter:creator" content="@_heeyeun" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@_heeyeun">
    <meta name="twitter:title" content="Heeyeun{% if page.title %} | {{ page.title }}{% endif %}">
    <meta name="twitter:url" content="https://yeun.github.io{% if page.url %}{{ page.url }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}Product Designer Heeyeun's blog{% endif %}">
    <meta name="twitter:image" content="https://yeun.github.io/images/twitter-image.jpg">
    {% if page.url == '/' %}
    <meta property="og:title" content="Heeyeun" />
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yeun.github.io{% if page.url %}{{ page.url }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% endif %}" />
    <meta property="og:image" content="{% if page.url == '/' %}https://yeun.github.io/images/og-image.jpg{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" media="screen">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Rasa" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52837717-2', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '506571846186264',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav class="navbar">
      <div class="navbar-container">
        <a href="/" class="blog-title">
          Heeyeun
        </a>
        <div class="navbar-menus">
          {% comment %}
          <a href="/about.html" class="{% if page.url == '/about.html' %}
              active
              {% endif %} navbar-menu menu-about">
            About
          </a>
          {% endcomment %}
          <a href="/" class="{% if page.url != '/about.html' %}
              active
              {% endif %} navbar-menu menu-blog">
            Blog
          </a>
          <a href="https://dribbble.com/heeyeun" target="_blank" class="navbar-menu menu-dribbble">
            Dribbble
          </a>
        </div>
      </div>
    </nav>
    {{ content }}
  </body>
</html>
