---
layout: default
---

{% assign base_path = '../../..' %}
<div class="wrapper">
  <div class="container">
    <div class="post">
      <span class="post-date">
        {{ page.date | date_to_string }}
      </span>
      <h1 class="post-title">
        {{page.title}}
      </h1>
      <div class="post-content">
        {{ content }}
      </div>
      <div class="fb-like"
           data-share="true"
           data-width="292"
           data-show-faces="true">
      </div>
      <div class="fb-comments" 
           data-href="http://yeun.github.io{{ page.url }}" 
           data-num-posts="5"
           data-numposts="10"
           data-width="100%"
           data-colorscheme="light">
      </div>
    </div>
  </div>
</div>